# Node modules
node_modules/

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.*.local

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: MacOS + Linux stuff
*.swp
*~
